*{
    list-style: none;
    text-decoration: none;
    margin:0;
    padding: 0;
}
a{
    color: black;
}


@font-face{
    font-family:'Raleway-Regular';
    src:url('Raleway-Regular.ttf');
}

@font-face{
    font-family:'Raleway-Thin';
    src:url('Raleway-Thin.ttf');
}

@font-face{
    font-family:'Raleway-Black';
    src:url('Raleway-Black.ttf');
}

@font-face{
    font-family:'Raleway-SemiBold';
    src:url('Raleway-SemiBold.ttf');
}

@font-face{
    font-family:'Raleway-Bold';
    src:url('Raleway-Bold.ttf');
}
.page{
    height: auto;
    padding:0 3rem;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.header{
    position: relative;
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas:"logo none navbar inscription";
    width:100%;
    height:auto;
}

.header img{
    padding:5vh 0 5vh 0;
    width: 93px;
    height:43px
}

.header__liste{
    font-family: Raleway-Thin;
    font-size: 1rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: baseline;
    grid-row-start: 1;
    grid-column-start: navbar;
    color: black;
}

.header__liste li{
    padding: 2rem;
    color:black;
    border-top: 2px solid transparent;
}

.header__liste li a{
    color:inherit;
    height: 100%;

}


.header__liste li:hover{
    border-top: 2px solid #0065FC;
    color: #0065FC;
}

.header__inscription{
    font-family: Raleway-Bold;
    color: #0065FC;

    padding: 2rem;
    border-top: 2px solid transparent;
    align-self: baseline;
    grid-column-start: inscription;
}

.recherche{
    display:flex;
    flex-direction: column;
}

.recherche__catchline{
    font-family: Raleway-Bold;
    font-size: 1.3rem;
    line-height: 2.5rem;
}

.recherche__text{
    font-family: Raleway-Regular;
    font-size: 0.9rem;
}

.recherche__input{
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    grid-template-areas:"maps input button ";
    height: 2.5rem;
    margin-top: 1rem;
    width: 350px;
    border-radius: 13px;
    overflow: hidden;
}

.maps{
    grid-column-start: maps;
    height: auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #F2F2F2;
}

.maps img{
    width:13px;
}

.input{
    grid-column-start: input;
    border: 1.5px  solid #F2F2F2 ;
    font-family: Raleway-Bold;
    font-size: 0.9rem;
    color: black;
    padding-left: 10px;
}

.btnsearch{
    font-family: Raleway-Regular;
    font-weight: 700;
    letter-spacing: 1px;
    grid-column-start: button;
    justify-content: center;
    align-items: center;
    display: flex;
    color: white;
    background-color: #0065FC;
    border: none;
    outline: none;
}

.btnsearch .fa-search{
    display: none;
}

.btnsearch::after{
    content:"Rechercher";
}

.recherche__filtre{
    margin-top: 2rem;
    display:flex;
    align-items: center;
}

.recherche__filtre h3{
    font-family: Raleway-Bold;
    font-size: 1rem;
    color: black;
}

.filtres{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}

.filtres li{
    display: flex;
    align-items: center;
    margin-left: 2%;
    height: 2.6rem;
    border: 2px solid #F2F2F2;
    border-radius: 26px;
}
.filtres li h3{
    padding: 0.7rem;
}

.filtres__icon{
    border-radius: 50%;
    height: 2.6rem;
    width: 2.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #DEEBFF;
    position: relative;
    left:-2px;
}

.filtres li:hover > .filtres__icon{
    background-color: #0065FC;
    transition:  0.5s;
}
.filtres li:hover > .filtres__icon .fas{
    transform: rotate(360deg);
    color: #DEEBFF;
    transition:  1.5s;
}

.filtres li:hover{
    background-color: #DEEBFF;
    transition: 0.5s;
}

.filtres li:hover > h3{

    color: #0065FC;
    transition: 0.5s;
}

.filtres__icon .fas{
    color: #0065FC;
}


.recherche__info{
    margin-top: 2rem;
    height: 0.95rem;
    display: flex;
    align-items: center;
}
.info__icon{
    border: 2px solid #F2F2F2;
    border-radius: 50%;
    height: 18px;
    width:18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

.info__icon .fas{
    color: #0065FC;
    font-size: 10px;
}

#hebergements{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "hebergement populaire";
    grid-column-gap: 3rem;
}

.card{
    box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.10);

}

.hebergement__liste{
    background-color: #F2F2F2;
    grid-column-start: hebergement;
    border-radius: 20px;
    padding: 2rem;
}

.hebergement__populaires{
    background-color: #F2F2F2;
    grid-column-start: populaire;
    border-radius: 20px;
    padding: 2rem 2rem 0;
}

.hebergement__liste .liste__cards{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 2rem;
    margin:2rem 0;
}
.hebergement__liste .liste__cards .card{
    display: flex;
    flex-direction: column;
    height: 12rem;
    border-radius: 15px;
    background-color: white;
    padding:0.3rem;
    justify-content: space-between;
    
}
.hebergement__liste .liste__cards .card picture{
    height:60%;
}
.hebergement__liste .liste__cards .card picture img{
    width:100%;
    border-radius: 15px 15px 0 0;
    height: 100%;
    object-fit: cover;
}



.card:hover{
    transition:transform 0.5s;
    transform:scale(0.95);
}

.hebergement__liste .liste__cards .card .card__descriptif{
    margin: 3%;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergement__populaires .liste__cards{
    display:grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin:2rem 0;
}
.hebergement__populaires .liste__cards .card{
    display: flex;
    height: 8.5rem;
    border-radius: 15px;
    background-color: white;
    padding:0.3rem;
}
.hebergement__populaires .liste__cards .card picture{
    width:35%;
}
.hebergement__populaires .liste__cards .card picture img{
    width:100%;
    border-radius: 15px 0 0 15px;
    height: 100%;
    object-fit: cover;
}

.hebergement__populaires .liste__cards .card .card__descriptif{
    margin: 3%;
    height: 90%;
    width:50%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.hebergement__populaires .liste__cards .card .card__descriptif .descriptif__star{
    position: absolute;
    bottom: 6%;
}

.hebergement__populaires .liste__cards .card .card__descriptif .descriptif__prix{
    margin-top: 5%;
}

.descriptif__nom{
    font-family: Raleway-Bold;
    font-size: 1rem;
}

.descriptif__prix{
    font-size: 0.8rem;
    font-family: Raleway-Regular;
}
.descriptif__star{
    font-size: 0.7rem;
}
.descriptif__star .true{
    color: #0065FC;
}

.descriptif__star .false{
    color: #E1E1E1;
}

#hebergements .header__hebergement{
    display: flex;
    justify-content: space-between;
}

#hebergements .header__hebergement h2{
    font-family: Raleway-Bold;
    font-size: 1.4rem;
}

#hebergements .header__hebergement .fas{
    font-size: 1.4rem;
}

#hebergements .hebergement__liste h3{
    font-family: Raleway-Bold;
    font-size: 1rem;
}

#activites .liste__cards{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    grid-template-rows: 48.5% 9.5% 9.5% 32.5%;
    column-gap: 3rem;
    height: 28rem;
    margin:1.5rem 0;
}

#activites{
    margin: 4rem 0;
}

#activites .title{
    font-family: Raleway-Bold;
}

#activites .liste__cards .card{
    display: flex;
    flex-direction: column;
    border-radius: 15px;
}
#activites .liste__cards .card picture{
    flex: 1;
    position: relative;
}
#activites .liste__cards .card picture img{
    width:100%;
    position: absolute;
    border-radius: 15px 15px 0 0;
    height: 100%;
    object-fit: cover;
}

#activites .liste__cards .card .card__lieu{
    position: relative;
    height: 50px;
}
#activites .liste__cards .card h3{
    margin:0.8rem 1rem;
    font-family: Raleway-Bold;
}


.a{
    grid-row-start:1;
    grid-row-end: span 4;
}

.b{
    grid-column-start: 2;
    grid-row-start: 1;
    grid-row-end: span 2;
    margin-bottom: 1.5rem;
}
.c{
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: span 4;
}
.d{
    grid-column-start: 4;
    grid-row-start: 1;
    margin-bottom: 1.5rem;
}
.e{
    grid-column-start: 2;
    grid-row-start: 3;
    grid-row-end:span 2;
    margin-top: 1.5rem;
}
.f{
    grid-column-start: 4;
    grid-row-start: 2;
    grid-row-end: span 3;
    margin-top: 1.5rem;
}

.footer{
    background-color: #F2F2F2;
    padding: 3rem 28% 3rem 3rem;
    display: flex;
    justify-content: space-between;
}
.footer__liens{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.footer__liens h3{
    font-family: Raleway-Bold;
    margin-bottom: 5%;
}

.footer__liens ul{
    display: flex;
    flex-direction: column;
    font-family: Raleway-Regular;
    height: auto;
}

.footer__liens ul li{
    margin: 0.25rem 0 0.25rem 0;
    font-size: 0.9rem;
    border-bottom: 1px solid transparent;
    overflow: hidden;
}

.footer__liens ul li a{
    position: relative;
}

.footer__liens ul li a::after{
    content: "";
    width: 100%;
    left:-100%;
    bottom: 0;
    height: 1px;
    background-color: black;
    position: absolute;
}


.footer__liens ul li:hover > a::after{
    transform: translateX(100%);
    transition: transform 0.8s ease-out;
}

@media(max-width:375px){
    .header{

        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding-top: 1rem;
    }
    
    .header img{
        padding:0 0 1rem 1.5rem;
        width: 93px;
        height:43px;
        grid-column: 1;
        grid-row: 1;
    }
    
    .header__liste{
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end:span2;
        padding-top: 1rem;
    }
    
    .header__liste li{
        color:black;
        border-top: none;
        border-bottom: 2px solid #F2F2F2;
        width: 50%;
        padding: 0 0 0.5rem 0;
        display: flex;
        justify-content: center;
    }
    
    .header__liste li a{
        color:inherit;
        height: 100%;
    
    }
    
    
    .header__liste li:hover{
        border-bottom: 2px solid #0065FC;
        border-top: none;
        color: #0065FC;
    }
    
    .header__inscription{      
        padding: 0 1.5rem 1rem 0;
        border-top: none;
        align-self: center;
        justify-self: end;
        grid-column: 2;
        grid-row: 1;
    }

    .page{
        padding:0;
    }

    .recherche{
        display:flex;
        flex-direction: column;
        padding: 0 1.5rem;
    }
    
    .recherche__catchline{
        font-family: Raleway-Bold;
        font-size: 1.35rem;
        line-height: 1.6rem;
    }
    
    .recherche__text{
        padding: 0.7rem 0;
    }

    .recherche__input{
        grid-template-columns: 1fr 5fr 1fr;
        width: 100%;
    }
    
    .btnsearch{
        border-radius: 13px;
    }
    .btnsearch::after{
        content: "";
    }
    .btnsearch .fa-search{
        display: block;
    }

    .recherche__filtre{
        margin-top: 2rem;
        display:flex;
        flex-direction: column;
        align-items: baseline;
    }
    
    .recherche__filtre h3{
        font-family: Raleway-Bold;
        font-size: 1rem;
        color: black;
        margin-bottom: 0.5rem;
    }
    
    .filtres li{
        margin: 0.25rem 0.5rem 0.25rem 0;
    }
    .filtres li h3{
        margin: 0;
    }

    #hebergements{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "populaire" "hebergement";
    }
    
    .card{
        box-shadow: 0px 0px 10px 2px rgba(0,0,0,0.10);
    
    }
    
    .hebergement__liste{
        background-color: white;
        grid-row-start: hebergement;
        border-radius: 0;
        padding: 2rem;
    }

    .hebergement__liste .liste__cards{
        grid-template-columns: 1fr;
    }
    
    .hebergement__populaires{
        grid-row-start: populaire;
        border-radius: 0;
        padding: 2rem 2rem 0;
    }

    #activites{
        padding: 1.5rem;
    }

    #activites .liste__cards{
        display:grid;
        grid-template-columns:1fr;
        grid-template-rows:1fr;
        row-gap: 1.5rem;
        height: auto;
        margin:1.5rem 0;
    }

    #activites .liste__cards .card{
        height:12rem;
    }
 
    .a{
        grid-row-start:1;
        grid-row-end:1;
    }
    
    .b{
        grid-column-start: 1;
        grid-row-start: 2;
        grid-row-end:2;
        margin-bottom:0;
    }
    .c{
        grid-column-start: 1;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .d{
        grid-column-start: 1;
        grid-row-start: 5;
        margin-bottom: 0;
    }
    .e{
        grid-column-start: 1;
        grid-row-start: 3;
        grid-row-end:3;
        margin-top:0;
    }
    .f{
        grid-column-start:1;
        grid-row-start: 6;
        grid-row-end:6;
        margin-top: 0;
    }
    
    .footer{
        flex-direction: column;
        padding: 1.5rem;

    }
    .footer__liens{
        margin: 1rem 0;
    }
}